*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
	height: 100%;
	font-family:"宋体";
	font-weight:normal;
	font-style:normal;
}
/*中间部分*/
.middle{
    width: 100%;
    margin-top: 0px;
}
/*中间左侧*/
.middle-left{
    float: left;
    width: 75%;
    height: 100%;
}
/* 涉及标题等其他信息 */
.artitle{
    margin-top: 20px;
    margin-left: 30px;
	color: black;
    background-color: black;
}
/*点击后旋转360放大1.1倍*/
.big table:hover{
    -moz-transform: rotate(360deg) scale(1.1);
    -webkit-transform: rotate(360deg) scale(1.1);
    -o-transform: rotate(360deg) scale(1.1);
    -ms-transform: rotate(360deg) scale(1.1);
    transform: rotate(360deg) scale(1.1);
}
/*中间右侧*/
.middle-right{
    width: 25%;
    float: right;
}
